.box-display {
	color: #eee;
	width: 50vh;
	height: 10vh;
	margin-bottom: 2em;
	border: 2px solid #f39;
	border-radius: 10px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: inset 5px 5px 40px #f391;
	text-shadow: 0px 4px 8px #f391;
}